global
    maxconn 2000

defaults
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend onos_rest
    bind 192.168.201.200:8181
    default_backend onos_nodes_rest

backend onos_nodes_rest
    balance first
    option tcp-check
    server onos1 172.20.0.11:8181 check
    server onos2 172.20.0.12:8181 check
    server onos3 172.20.0.13:8181 check