APP_NAME=m4-security
APP_ENV=development
SECURITY_TOKEN=change-me

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=radius
MYSQL_PASSWORD=radius_pass
MYSQL_DATABASE=radius_db
MYSQL_PERSISTENCE_ENABLED=false

M6_BASE_URL=http://127.0.0.1:8080
M2_BASE_URL=http://127.0.0.1:8182
TELEMETRY_MANAGER_URL=http://127.0.0.1:8090

NETWORK_ACTIONS_ENABLED=false
ONOS_WRITES_ENABLED=false
OVSDB_ACTIONS_ENABLED=false
M4_AUTOMATIC_ACTIONS_ENABLED=false
SURICATA_INGESTION_ENABLED=false
FLOW_TELEMETRY_INGESTION_ENABLED=false

EVENT_WINDOW_SECONDS=60
TEMPORARY_BLOCK_SECONDS=600
LONG_BLOCK_SECONDS=3600
